.footer {
    background: $slate-gray;
    padding: 4rem 0;
    color: $color-white;
    position: relative;
    
    &__logo-box {
        text-align: center;
    }
    
    &__copyright {
        position: absolute;
        top: 40%;
    }

}