.header {
    height: 75vh;
    position: relative; 

    h1 {
        font-size: 4rem;

        @include respond(phone){
            font-size: 3rem;
        }
    }

    .subtitle {
        font-size: 2.5rem;
        margin-top: 2rem;

        @include respond(phone){
            font-size: 2rem;
        }       
    }

    .tabbed-text {
        color: $steel-blue;
        font-weight: bolder;
        font-size: 2rem;

        @include respond(phone){
            font-size: 1.6rem;
        }
    }


    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &--btn {
            margin-top: 2rem;
            padding: 2rem;
            text-decoration: none;
            outline: none;
            font-size: 2rem;

            &-blue {
                padding: 2rem 4rem;
                border: none;
                background: $light-cornflower-blue;
                outline: none;
                border-radius: 1rem;
                text-decoration: none;
                color: $color-white;
                
                &:hover {
                    background: $steel-blue;
                    transition: all 0.3s ease;
                }
            };
            
            &-keppel {
                padding: 2rem 4rem;
                border: $keppel;
                color: $keppel;
                border-radius: 1rem;
                text-decoration: none;
                
                &:hover {
                    background: $keppel;
                    color: $color-white;
                    transition: all 0.3s ease;
                }
            };

            a {
                text-decoration: none;
            }
        }
    }
}