.solutions {
    padding: 10rem 0;

    &__header {
        font-size: 3.5rem;
        text-align: center;
    }

    &__subtitle {
        font-size: 3rem;
    }

    &__title {
        font-size: 2rem;
    }

    &__icon {
        color: $keppel;
    }
}