{% extends "base.html" %}

{% block links %}
    <a href="/" class="nav-link">Home</a>
{% endblock %}

{% block content %}
    <!-- Main -->
    <main>
        <section class="question">
            <form action="" method="POST">
                <!-- { % csrf_token % } -->
                <!-- Q1 -->
                <div class="row">
                    <div class="question__text">
                        Q1. Are you a startup Founder or Co-Founder with no prior technology experience?
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="col-1-of-3 offset">
                        <div class="form-check form-check-inline">
                            <input 
                                class="form-check-input multiple-choice " 
                                type="radio" 
                                name="inlineRadioOptions" 
                                id="inlineRadio1" 
                                value="option1">
                            <label 
                            class="form-check-label" 
                            for="inlineRadio1">
                                Yes
                            </label>
                        </div>
                    </div>  
                    <div class="col-1-of-3 offset">
                        <div class="form-check form-check-inline">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="inlineRadioOptions" 
                                id="inlineRadio2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="inlineRadio2">
                                No
                            </label>
                        </div>
                    </div>  
                    <div class="col-1-of-3 offset">
                        <div class="form-check form-check-inline">
                        <input 
                            class="form-check-input multiple-choice" 
                            type="radio" 
                            name="inlineRadioOptions" 
                            id="inlineRadio3" 
                            value="option3">
                            
                        <label 
                            class="form-check-label" 
                            for="inlineRadio3">
                            Other <span>(please specify)</span>
                        </label>
                        <input 
                            type="text" 
                            name="other" 
                            class="form-control inline-other" 
                            aria-label="Text input with radio button">
                        </div>
                    </div>
                </div>
                <br>
                <!-- Q2 -->
                <div class="row">
                    <div class="question__text">
                        Q2: Do you have a technical founder or a full-time CTO?
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="col-1-of-3 offset">
                        <div class="form-check form-check-inline">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="inlineRadioOptions" 
                                id="inlineRadio1" 
                                value="option1">
                            <label 
                            class="form-check-label" 
                            for="inlineRadio1">
                                Yes
                            </label>
                        </div>
                    </div>  
                    <div class="col-1-of-3 offset">
                        <div class="form-check form-check-inline">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="inlineRadioOptions" 
                                id="inlineRadio2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="inlineRadio2">
                                No
                            </label>
                        </div>
                    </div>  
                    <div class="col-1-of-3 offset">
                        <div class="form-check form-check-inline">
                        <input 
                            class="form-check-input multiple-choice" 
                            type="radio" 
                            name="inlineRadioOptions" 
                            id="inlineRadio3" 
                            value="option3">
                            
                        <label 
                            class="form-check-label" 
                            for="inlineRadio3">
                            Other <span>(please specify)</span>
                        </label>
                        <input 
                            type="text" 
                            name="other" 
                            class="form-control inline-other" 
                            aria-label="Text input with radio button">
                        </div>
                    </div>
                </div>
                <br>
                <!-- Q3 -->
                <div class="row">
                    <div class="question__text">
                        Q3: What is your startup stage?
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="col-1-of-2 offset">
                        <!-- Left -->
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option1" 
                                value="option1">
                            <label 
                                class="form-check-label" 
                                for="option1">
                                Have an idea, no proof of concept
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="option2">
                                Pre-Revenue
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option3" 
                                value="option3">
                            <label 
                                class="form-check-label" 
                                for="option3">
                                Other <span>(please specify)</span>
                            </label>
                            <input 
                                type="text" 
                                name="other" 
                                class="form-control inline-other" 
                                aria-label="Text input with radio button">
                        </div>
                    </div>  
                    <div class="col-1-of-2 offset">
                        <!-- Right -->
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option1" 
                                value="option1" >
                            <label 
                                class="form-check-label" 
                                for="option1">
                                Done proof of concept, not validated
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="option2">
                                Revenue
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option3" 
                                value="option3">
                            <label 
                                class="form-check-label" 
                                for="option3">
                                Validated and committed
                            </label>
                        </div>
                    </div>  
                </div>
                <br>
                <br>
                <!-- Q4 -->
                <div class="row g-3">
                    <div class="question__text">
                        Q4: Briefly describe your business. What is the problem you’re trying to solve? Who is your customer? And how are you solving their problem?
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="mb-3">
                        <textarea 
                            class="form-control input" 
                            id="open-ended-response1" 
                            rows="8">
                        </textarea>
                    </div>
                </div>
                <br>
                <!-- Q5 -->
                <div class="row">
                    <div class="question__text">
                        Q5: How often do you wish you had access to a real world expert to give quality, trustworthy advice?
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="col-1-of-2 offset">
                        <!-- Left -->
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option1" 
                                value="option1">
                            <label 
                                class="form-check-label" 
                                for="option1">
                                Always
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="option2">
                                Rarely
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option3" 
                                value="option3">
                            <label 
                                class="form-check-label" 
                                for="option3">
                                Other <span>(please specify)</span>
                            </label>
                            <input 
                                type="text" 
                                name="other" 
                                class="form-control inline-other" 
                                aria-label="Text input with radio button">
                        </div>
                    </div>  
                    <div class="col-1-of-2 offset">
                        <!-- Right -->
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option1" 
                                value="option1" >
                            <label 
                                class="form-check-label" 
                                for="option1">
                                Often
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="option2">
                                Never
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option3" 
                                value="option3">
                            <label 
                                class="form-check-label" 
                                for="option3">
                                Occasionally
                            </label>
                        </div>
                    </div>  
                </div>
                <br>
                <br>
                <!-- Q6 -->
                <div class="row g-3">
                    <div class="question__text">
                        Q6: We’re sure you have multiple goals right now.  Amongst all of them, how important is it for you to address your technology challenges?<br>
                        <span>1 being the least important goal and 7 being the most important goal.</span>
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="row">
                        <div class="col-1-of-7 offset">
                            <div class="form-check form-check-inline">
                                <input 
                                    class="form-check-input multiple-choice" 
                                    type="radio" 
                                    name="inlineRadioOptions" 
                                    id="inlineRadio1" 
                                    value="option1">
                                <label 
                                class="form-check-label" 
                                for="inlineRadio1">
                                    1
                                </label>
                            </div>
                        </div>
                        <div class="col-1-of-7 offset">
                            <div class="form-check form-check-inline">
                                <input 
                                    class="form-check-input multiple-choice" 
                                    type="radio" 
                                    name="inlineRadioOptions" 
                                    id="inlineRadio1" 
                                    value="option1">
                                <label 
                                class="form-check-label" 
                                for="inlineRadio1">
                                    2
                                </label>
                            </div>
                        </div>
                        <div class="col-1-of-7 offset">
                            <div class="form-check form-check-inline">
                                <input 
                                    class="form-check-input multiple-choice" 
                                    type="radio" 
                                    name="inlineRadioOptions" 
                                    id="inlineRadio1" 
                                    value="option1">
                                <label 
                                class="form-check-label" 
                                for="inlineRadio1">
                                    3
                                </label>
                            </div>
                        </div>
                        <div class="col-1-of-7 offset">
                            <div class="form-check form-check-inline">
                                <input 
                                    class="form-check-input multiple-choice" 
                                    type="radio" 
                                    name="inlineRadioOptions" 
                                    id="inlineRadio1" 
                                    value="option1">
                                <label 
                                class="form-check-label" 
                                for="inlineRadio1">
                                    4
                                </label>
                            </div>
                        </div>
                        <div class="col-1-of-7 offset">
                            <div class="form-check form-check-inline">
                                <input 
                                    class="form-check-input multiple-choice" 
                                    type="radio" 
                                    name="inlineRadioOptions" 
                                    id="inlineRadio1" 
                                    value="option1">
                                <label 
                                class="form-check-label" 
                                for="inlineRadio1">
                                    5
                                </label>
                            </div>
                        </div>
                        <div class="col-1-of-7 offset">
                            <div class="form-check form-check-inline">
                                <input 
                                    class="form-check-input multiple-choice" 
                                    type="radio" 
                                    name="inlineRadioOptions" 
                                    id="inlineRadio1" 
                                    value="option1">
                                <label 
                                class="form-check-label" 
                                for="inlineRadio1">
                                    6
                                </label>
                            </div>
                        </div>
                        <div class="col-1-of-7 offset">
                            <div class="form-check form-check-inline">
                                <input 
                                    class="form-check-input multiple-choice" 
                                    type="radio" 
                                    name="inlineRadioOptions" 
                                    id="inlineRadio1" 
                                    value="option1">
                                <label 
                                class="form-check-label" 
                                for="inlineRadio1">
                                    7
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row g-3">
                    <div class="question__subtext">
                        Please describe your most immediate technology challenge:
                    </div>
                    <div class="mb-3">
                        <textarea 
                            class="form-control input" 
                            id="open-ended-response1" 
                            rows="8">
                        </textarea>
                    </div>
                </div>
                <br>
                <!-- Q7 -->
                <div class="row">
                    <div class="question__text">
                        Q7: When trying to achieve this technology challenge, what are the roadblocks you’re running into? What’s standing in your way?
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="col-1-of-2 offset">
                        <!-- Left -->
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="checkbox" 
                                name="option" 
                                id="option1" 
                                value="option1">
                            <label 
                                class="form-check-label" 
                                for="option1">
                                Articulating your technology needs
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="checkbox" 
                                name="option" 
                                id="option2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="option2">
                                Lack of resources/money
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="checkbox" 
                                name="option" 
                                id="option3" 
                                value="option3">
                            <label 
                                class="form-check-label" 
                                for="option3">
                                Other <span>(please specify)</span>
                            </label>
                            <input 
                                type="text" 
                                name="other" 
                                class="form-control inline-other" 
                                aria-label="Text input with checkbox button">
                        </div>
                    </div>  
                    <div class="col-1-of-2 offset">
                        <!-- Right -->
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="checkbox" 
                                name="option" 
                                id="option1" 
                                value="option1" >
                            <label 
                                class="form-check-label" 
                                for="option1">
                                Having a single person of contact to give quality advice
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="checkbox" 
                                name="option" 
                                id="option2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="option2">
                                Meeting deadlines
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="checkbox" 
                                name="option" 
                                id="option3" 
                                value="option3">
                            <label 
                                class="form-check-label" 
                                for="option3">
                                Working with dev agency
                            </label>
                        </div>
                    </div>  
                </div>
                <br>
                <br>
                <!-- Q8 -->
                <div class="row">
                    <div class="question__text">
                        Q8: Among all your business and startup priorities, what is the timeline to solve your most immediate technology challenge?
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="col-1-of-2 offset">
                        <!-- Left -->
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option1" 
                                value="option1">
                            <label 
                                class="form-check-label" 
                                for="option1">
                                Within 4 weeks
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="option2">
                                Within 3 months
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option3" 
                                value="option3">
                            <label 
                                class="form-check-label" 
                                for="option3">
                                Other <span>(please specify)</span>
                            </label>
                            <input 
                                type="text" 
                                name="other" 
                                class="form-control inline-other" 
                                aria-label="Text input with radio button">
                        </div>
                    </div>  
                    <div class="col-1-of-2 offset">
                        <!-- Right -->
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option1" 
                                value="option1" >
                            <label 
                                class="form-check-label" 
                                for="option1">
                                Within 1 month
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option2" 
                                value="option2">
                            <label 
                                class="form-check-label" 
                                for="option2">
                                Within 6 months
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input 
                                class="form-check-input multiple-choice" 
                                type="radio" 
                                name="option" 
                                id="option3" 
                                value="option3">
                            <label 
                                class="form-check-label" 
                                for="option3">
                                Within a year
                            </label>
                        </div>
                    </div>  
                </div>
                <br>
                <br>
                <!-- Q9 -->
                <div class="row">
                    <div class="question__text">
                        Q9: Please give us your email address so that we may follow up with you.
                    </div>
                    <div class="question__subtext">
                        “Your Privacy is Our Policy.*”
                    </div>
                </div>
                <!-- Actual Question -->
                <div class="row g-3">
                    <div class="col">
                        <input type="text" 
                            class="form-control form-control-lg input" 
                            placeholder="First name" 
                            aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="text" 
                            class="form-control form-control-lg input" 
                            placeholder="Last name" 
                            aria-label="Last name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="email" 
                            class="form-control form-control-lg input" 
                            placeholder="jane.doe@email.com" 
                            aria-label="Email Address">
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn button">SUBMIT</button>
                    </div>
                </div>
            </form>
        </section>        
        
        <!-- Thank You -->
        <section class="thank-you">
            <h1>
                Thank you for filling out our questionnaire!
            </h1>
        </section>
        
    </main>
{% endblock %}