{% extends "base.html" %}

{% block title %}Survey{% endblock %}

{% block links %}
    <a href="/survey" class="nav-link">Home</a>
{% endblock %}

{% block content %}
    <!-- Main -->
    <main>
        <section class="question">
            <form action="/thank-you" role="form" method="POST" name="survey">
                {% csrf_token %}
                <input type="hidden" name="survey_id" value="{{ survey.id }}"
                {% comment %} Q1 {% endcomment %}
                <div class="row">
                    <div class="question_text">
                        Q1. Are you a startup Founder or Co-Founder with no prior technology experience?
                    </div>
                </div>
                <div class="row g-3 {% if form.tech_exp.errors %}errors{% endif %}">
                    {{ form.tech_exp }}
                    {{ form.tech_exp.errors }}
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>If other, please specify:</p>
                    </div>
                    <div class="col-10">
                        {{ form.tech_exp_text}}
                    </div>
                </div>
                <br>
                <!-- Q2 -->
                <div class="row">
                    <div class="question_text">
                        Q2: Do you have a technical founder or a full-time CTO?
                    </div>
                </div>
                <div class="row g-3 {% if form.tech_founder.errors %}errors{% endif %}">
                    {{ form.tech_founder }}
                    {{ form.tech_founder.errors }}
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>If other, please specify:</p>
                    </div>
                    <div class="col-10">
                        {{ form.tech_exp_text}}
                    </div>
                </div>
                <br>
                <!-- Q3 -->
                <div class="row">
                    <div class="question_text">
                        Q3: What is your startup stage?
                    </div>
                </div>
                <div class="row g-3 {% if form.startup_stage.errors %}errors{% endif %}">
                    {{ form.startup_stage }}
                    {{ form.startup_stage.errors }}
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>If other, please specify:</p>
                    </div>
                    <div class="col-10">
                        {{ form.tech_exp_text}}
                    </div>
                </div>
                <br>
                <!-- Q4 -->
                <div class="row">
                    <div class="question_text">
                        Q4: Briefly describe your business. What is the problem you’re trying to solve? Who is your customer? And how are you solving their problem?
                    </div>
                </div>
                <div class="row g-3">
                    {{ form.startup_description }}
                </div>
                <br>
                <!-- Q5 -->
                <div class="row">
                    <div class="question_text">
                        Q5: How often do you wish you had access to a real world technology vision expert to give quality, trustworthy advice?
                    </div>
                </div>
                <div class="row g-3 {% if form.access_freq.errors %}errors{% endif %}">
                    {{ form.access_freq }}
                    {{ form.access_freq.errors }}
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>If other, please specify:</p>
                    </div>
                    <div class="col-10">
                        {{ form.tech_exp_text}}
                    </div>
                </div>
                <br>
                <!-- Q6 -->
                <div class="row">
                    <div class="question_text">
                        Q6: We’re sure you have multiple goals right now.  Amongst all of them, how important is it for you to address your technology challenges?<br>
                        <span>1 being the least important goal and 7 being the most important goal.</span>
                    </div>
                </div>
                <div class="row g-3 {% if form.tech_challenge.errors %}errors{% endif %}">
                    {{ form.tech_challenge }}
                    {{ form.tech_challenge.errors }}
                </div>
                <div class="question__subtext">
                        Please describe your most immediate technology challenge:
                </div>
                <div class="row g-3">
                    {{ form.tech_challenge_description }}
                </div>
                <br>
                <!-- Q7 -->
                <div class="row">
                    <div class="question_text">
                        Q7: When trying to achieve this technology challenge, what are the roadblocks you’re running into? What’s standing in your way?  Please select all that apply.
                    </div>
                </div>
                <div class="row g-3 {% if form.roadblocks.errors %}errors{% endif %}">
                    {{ form.roadblocks }}
                    {{ form.roadblocks.errors }}
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>If other, please specify:</p>
                    </div>
                    <div class="col-10">
                        {{ form.tech_exp_text}}
                    </div>
                </div>
                <br>
                <!-- Q8 -->
                <div class="row">
                    <div class="question_text">
                        Q8: Among all your business and startup priorities, what is the timeline to solve your most immediate technology challenge?
                    </div>
                </div>
                <div class="row g-3 {% if form.timeline.errors %}errors{% endif %}">
                    {{ form.timeline }}
                    {{ form.timeline.errors }}
                </div>
                <div class="row">
                    <div class="col-2">
                        <p>If other, please specify:</p>
                    </div>
                    <div class="col-10">
                        {{ form.tech_exp_text}}
                    </div>
                </div>
                <!-- Q9 -->
                <div class="row">
                    <div class="question__text">
                        Q9: Please give us your email address so that we may follow up with you.
                    </div>
                    <div class="question__subtext">
                        “Your Privacy is Our Policy.*”
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 {% if form.subscriber_first_name.errors %}errors{% endif %}">
                        {{ form.subscriber_first_name }}
                        {{ form.subscriber_first_name.errors }}
                    </div>
                    <div class="col-6 {% if form.subscriber_last_name.errors %}errors{% endif %}">
                        {{ form.subscriber_last_name }}
                        {{ form.subscriber_last_name.errors }}
                    </div>
                </div>
                <br>
                <div class="row {% if form.subscriber_email.errors %}errors{% endif %}">
                    {{ form.subscriber_email }}
                    {{ form.subscriber_email.errors }}
                </div>

                <!-- Submit Button -->
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn button">SUBMIT RESPONSES</button>
                    </div>
                </div>
            </form>
        </section>        
    </main>
{% endblock %}