/*
MEDIA QUERY MANAGER

Device sizes:
0-600px:        Phone
800-900px:      Tablet (portrait)
900-1200px:     Tablet (landscape)
1200-1800px:    Desktop [WHERE OUR NORMAL STYLES APPLY]
>1800px:        Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
/* 
CSS HEX
--keppel: #3ec4b0ff;
--steel-blue: #3d7fc1ff;
--iceberg: #72acddff;
--light-cornflower-blue: #9ccdefff;
--cadet-blue-crayola: #a6b0bcff;
--light-slate-gray: #838f9bff;
--slate-gray: #677384ff;

CSS HSL 
--keppel: hsla(171, 53%, 51%, 1);
--steel-blue: hsla(210, 52%, 50%, 1);
--iceberg: hsla(207, 61%, 66%, 1);
--light-cornflower-blue: hsla(205, 72%, 77%, 1);
--cadet-blue-crayola: hsla(213, 14%, 69%, 1);
--light-slate-gray: hsla(210, 11%, 56%, 1);
--slate-gray: hsla(215, 12%, 46%, 1);
*/
/* SCSS HEX */
/* SCSS HSL */
/* SCSS RGB */
/* SCSS Gradient */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 55%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #677384; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-2xl {
  margin-bottom: 16rem; }

.u-margin-bottom-xl {
  margin-bottom: 12rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-2xl {
  margin-top: 16rem; }

.u-margin-top-xl {
  margin-top: 12rem; }

.u-margin-top-large {
  margin-top: 8rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.navbar {
  background: #72acdd;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem calc((100vw - 1200px) /2);
  z-index: 10;
  position: relative; }
  .navbar__logo {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    margin-left: 2rem; }
  .navbar-toggler {
    color: white;
    box-shadow: .15s ease-in-out; }
  .navbar-collapse {
    background-color: #72acdd; }
  .navbar-nav {
    list-style: none;
    text-align: center;
    margin-right: 2.5rem; }
    .navbar-nav #button {
      padding: 1.2rem 3rem;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      background: #3ec4b0;
      margin-left: 2rem;
      color: white; }
      .navbar-nav #button:hover {
        background: #9ccdef;
        transition: all 0.3s ease; }
  .navbar .nav-link {
    color: white;
    font-size: 1.8rem;
    justify-content: center;
    text-decoration: none;
    padding: 1.5rem; }
    .navbar .nav-link:hover {
      color: #3ec4b0;
      transition: all 0.3s ease; }

.journey {
  background: #fafbfb;
  padding: 10rem 0; }
  .journey-step {
    text-align: center; }
  .journey__header {
    font-size: 3.5rem;
    text-align: center; }
  .journey__subtitle {
    color: #3d7fc1; }
  .journey__icon {
    color: #3ec4b0; }

.testimonials {
  padding: 10rem 0; }
  .testimonials__header {
    font-size: 3.5rem;
    text-align: right; }
  .testimonials__text {
    font-size: 2rem;
    text-align: right;
    padding-bottom: 2rem; }
  .testimonials__name {
    text-align: right;
    padding-top: 2.5rem; }
  .testimonials__company {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: right; }
  @media (max-width: 56.25em) {
    .testimonials__icon {
      display: none; } }
  .testimonials__chevrons {
    color: #a6b0bc; }

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.solutions {
  padding: 10rem 0; }
  .solutions__header {
    font-size: 3.5rem;
    text-align: center; }
  .solutions__subtitle {
    font-size: 3rem; }
  .solutions__title {
    font-size: 2rem; }
  .solutions__icon {
    color: #3ec4b0; }

.benefits {
  background: #fafbfb;
  padding: 10rem 0; }
  .benefits__header {
    font-size: 3.5rem;
    text-align: center; }
  .benefits__title {
    font-size: 3rem; }
  .benefits__subtitle {
    font-size: 2.5rem;
    font-weight: 500; }
  .benefits__icon {
    color: #3ec4b0; }
  .benefits-box {
    background-color: rgba(238, 238, 238, 0.8);
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
    transition: transform .3s; }
    .benefits-box:hover {
      transform: translateY(-1.5rem) scale(1.03); }
  .benefits #button {
    padding: 1.2rem 2.4rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: #9ccdef;
    color: white;
    text-decoration: none; }
    .benefits #button:hover {
      background: #3d7fc1;
      transition: all 0.3s ease; }

.experts {
  background: #fafbfb;
  padding: 10rem 0; }
  .experts__header {
    font-size: 3.5rem;
    text-align: center; }
  .experts__headshot {
    background-color: #677384;
    padding: 2rem;
    text-align: center;
    color: black; }
  .experts__name {
    font-size: 2rem;
    text-align: center; }
  .experts__link {
    text-align: center;
    font-weight: 500; }
  .experts__companies {
    text-align: center; }

a {
  color: #3ec4b0;
  text-decoration: none; }
  a:hover {
    color: #3d7fc1; }

.faq {
  padding: 10rem 0; }
  .faq__header {
    font-size: 3.5rem;
    text-align: center; }
  .faq__title {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .faq__icon {
    color: #3ec4b0; }
    @media (max-width: 56.25em) {
      .faq__icon {
        display: none; } }

.subscribe {
  background: #fafbfb;
  padding: 10rem 0; }
  .subscribe__header {
    font-size: 5rem;
    text-align: center;
    color: #3ec4b0;
    font-weight: 700;
    margin-bottom: 4rem; }
  .subscribe__text {
    text-align: center;
    font-weight: lighter;
    font-size: 2.5rem; }
    .subscribe__text-mini {
      text-align: center;
      font-size: 1.5rem; }
  .subscribe__input {
    text-align: center; }
  .subscribe #input {
    padding-left: 1.2rem;
    border: 1px solid #3ec4b0;
    border-radius: 0.5rem;
    text-align: left;
    font-size: 1.5rem; }
  .subscribe #button {
    padding: 2rem 5rem;
    border: none;
    border-radius: 0.5rem;
    background: #3ec4b0;
    color: white;
    font-size: 1.5rem; }
    .subscribe #button:hover {
      background: #9ccdef;
      transition: all 0.3s ease; }

.question {
  padding: 10rem 0; }
  .question__text {
    font-size: 3rem; }
  .question__subtext {
    font-size: 2.8rem;
    font-weight: 300; }
  .question .offset {
    padding-left: 5rem; }
  .question .form-check-input {
    text-align: left;
    font-size: 3.5rem;
    font-weight: 300; }
  .question .multiple-choice {
    border-color: #3ec4b0;
    font-size: 3rem; }
  .question .inline-other {
    border-color: #3ec4b0;
    font-size: 2rem; }
  .question .input {
    padding-left: 1.2rem;
    border: 1px solid #3ec4b0;
    border-radius: 0.5rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 300; }
  .question label {
    font-size: 2.5rem; }
  .question span {
    font-weight: lighter; }
  .question .mini-text {
    font-size: 1.6rem;
    font-weight: lighter;
    text-align: center;
    margin-right: 2rem; }
  .question .button {
    padding: 2rem 5rem;
    border: none;
    border-radius: 0.5rem;
    background: #3ec4b0;
    color: white;
    font-size: 1.5rem;
    align-items: center; }
    .question .button:hover {
      background: #9ccdef;
      transition: all 0.3s ease; }

.thank-you {
  padding: 10rem 0; }
  .thank-you h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-right: 2rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * (2rem)); }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 2rem) / 6); }
  .row .col-5-of-6 {
    width: calc(5 * ((100% - 5 * 2rem) / 6) + 4 * (2rem)); }
  .row .col-1-of-7 {
    width: calc((100% - 6 * 2rem) / 7); }

.header {
  height: 75vh;
  position: relative; }
  .header h1 {
    font-size: 4rem; }
    @media (max-width: 37.5em) {
      .header h1 {
        font-size: 3rem; } }
  .header .subtitle {
    font-size: 2.5rem;
    margin-top: 2rem; }
    @media (max-width: 37.5em) {
      .header .subtitle {
        font-size: 2rem; } }
  .header .tabbed-text {
    color: #3d7fc1;
    font-weight: bolder;
    font-size: 2rem; }
    @media (max-width: 37.5em) {
      .header .tabbed-text {
        font-size: 1.6rem; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__text-box--btn {
      margin-top: 2rem;
      padding: 2rem;
      text-decoration: none;
      outline: none;
      font-size: 2rem; }
      .header__text-box--btn-blue {
        padding: 2rem 4rem;
        border: none;
        background: #9ccdef;
        outline: none;
        border-radius: 1rem;
        text-decoration: none;
        color: white; }
        .header__text-box--btn-blue:hover {
          background: #3d7fc1;
          transition: all 0.3s ease; }
      .header__text-box--btn-keppel {
        padding: 2rem 4rem;
        border: #3ec4b0;
        color: #3ec4b0;
        border-radius: 1rem;
        text-decoration: none; }
        .header__text-box--btn-keppel:hover {
          background: #3ec4b0;
          color: white;
          transition: all 0.3s ease; }
      .header__text-box--btn a {
        text-decoration: none; }

.footer {
  background: #677384;
  padding: 4rem 0;
  color: white;
  position: relative; }
  .footer__logo-box {
    text-align: center; }
  .footer__copyright {
    position: absolute;
    top: 40%; }
